head
	block head_variables
	title #{title ? title + ' | ' : ''}#{app.head.title}
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")

	meta(property='og:title', content=title ? title + ' | ' : '' + app.head.title)
	meta(property='og:type', content='websites')
	meta(property='og:url', content='http://membrana.io')
	meta(property='og:description', content=description ? description : app.head.description)
	meta(property='og:email', content='info@membrana.io')
	meta(property='og:site_name', content=app.head.title)
	meta(property='og:image', content='/static/img/pictures/components/investors.jpg')

	if app.lang === 'en'
		link(href="/static/fonts/MavenPro/mavenpro.css" rel="stylesheet")
	if app.lang === 'ru'
		link(href="/static/fonts/EtelikaPro/etelikapro.css" rel="stylesheet")

	meta(name='description', content=description ? description : app.head.description)
	meta(name='yandex-verification', content='4ebdfc97a2b8fa91')
	link(href='/static/img/favicon.ico', rel='icon', type='image/x-icon')

	script(async src='https://www.googletagmanager.com/gtag/js?id=UA-116221496-1')
	script()!=`function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-116221496-1");`
	script(type='text/javascript' async defer)!=`(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter47624572 = new Ya.Metrika({ id:47624572, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");`
	noscript: div: img(src='https://mc.yandex.ru/watch/47624572', style='position:absolute; left:-9999px;', alt='')
	script(type='text/javascript' id='mcjs')!=`!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/993708d3ee57501055057f283/6b1c585c0e41aa0a1838b7f97.js");`

	style!=`.app-preloader { position: fixed; left: 0; top: 0; right: 0; bottom: 0; background: #27283a; /* Old browsers */ background: -moz-linear-gradient(top, #27283a 0%, #282b3f 50%, #3d3f5a 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #27283a 0%, #282b3f 50%, #3d3f5a 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #27283a 0%, #282b3f 50%, #3d3f5a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27283a', endColorstr='#3d3f5a', GradientType=0); z-index: 100500; } @-webkit-keyframes uil-ring-anim { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } } @-moz-keyframes uil-ring-anim { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } } @-webkit-keyframes uil-ring-anim { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } } @-o-keyframes uil-ring-anim { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } } @keyframes uil-ring-anim { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } } .app-preloader__circle { background: none; position: absolute; width: 200px; height: 200px; top: 50%; left: 50%; margin-top: -100px; margin-left: -100px; text-align: center; } .app-preloader__circle-inner { position: absolute; display: block; width: 160px; height: 160px; top: 20px; left: 20px; border-radius: 80px; box-shadow: 0 3px 0 0 #32ba94; -webkit-transform-origin: 80px 81.5px; transform-origin: 80px 81.5px; -webkit-animation: uil-ring-anim 1s linear infinite; animation: uil-ring-anim 1s linear infinite; }`
	noscript
		style!=`.app-preloader { display: none }`
