extends ../layouts/base

block page_variables
  - var page_class = 'competition-page';
  - var page_active = '/binance-exchange/';

block append head
  block head_variables
    - var title = app.head.competition.title;
    - var description = app.head.competition.description;

block content
  .page-content-pattern

    .competition-wrapper.new-page
      .patterns
        div.pattern.bg
          //- img.js-prevent-inline(src="/static/img/patterns/competition/bg-page.svg" alt="")
          //- img.js-prevent-inline.triangle_12(src="/static/img/new-page/mid_bg.svg" alt="")
          //- img.js-prevent-inline.triangle_21(src="/static/img/new-page/mid_bg2.svg" alt="") 


      .competition
        

        h1.competition__header Get 
          b FREE $100 
          span on
          br
          span.competition__header_img
            img(src="/static/img/new-page/header_logo.svg" alt="")
          b.competition__header-colored Binance Exchange   
          

        .competition__container

          

          .competition__right
            img.competition__image.js-prevent-inline(src="/static/img/pictures/competition/competition.svg" alt="")



          .competition__left

            .competition__join_sm-form
              div.competition__join.icon-link
                span.icon-link__text!=app.competition.join_text

              .competition__sm-form
                form.sm-form.js-join-form.form_two(action="/static/php/idnow.php" method="post")
                  .sm-form__body
                    .label
                      span.label__title Your 
                        b Email:
                      input.input(type="email" placeholder=app.join_us.email data-error=app.competition.email_error name="email" required)
                    .label
                      span.label__title Your 
                        b Ethereum Wallet:
                      input.input(type="text" placeholder=app.competition.wallet_placeholder data-error=app.competition.wallet_error name="trnum" pattern="^0x[0-9A-Fa-f]{40}$" required)
                  .sm-form__submit_policy
                    .sm-form__submit
                      button.sm-form-btn(type="submit")
                        img.sm-form-btn__icon(src="/static/img/icons/plus.svg" alt="")
                        span.sm-form-btn__text!=app.join_us.join
                    .sm-form__policy
                      span By clicking "Join" you agree with 
                      a.terms_of_use(href="/static/pdf/Membrana.io_T&C.pdf" target="_blank")
                        b Terms Of Use
            


        h2.competition__title
          b Participate in
          br
          span.competition__title_color
            b Global Traders Competition

        div.arrow_down_wr
          a.scroll-btn-green.scroll-btn-next(href="javascript:void(0)"): img.scroll-btn__icon(src="/static/img/new-page/scroll-arrow-green.svg" alt="")


        p.competition__profits Traders Will Get:

        .patternsed
          div.patterned.bg
            img.js-prevent-inline.triangle_11(src="/static/img/new-page/mid_bg.svg" alt="")
            img.js-prevent-inline.triangle_22(src="/static/img/new-page/mid_bg2.svg" alt="") 
            img.js-prevent-inline.triangle_33(src="/static/img/new-page/snall_bg.svg" alt="")
            img.js-prevent-inline.triangle_44(src="/static/img/new-page/small_bg.svg" alt="")


        .competition__profits_wr
          .competition__profits_wr_2
            .competition__profits_wr__item
              h4 
                b Part of 
                span.profits__item-colored $100.000 
                span prize pool
              p Best 20 traders will get a part of $100 000 prize pool

            .competition__profits_wr__item
              h4 
                b Part of  
                span.profits__item-colored $300.000 
                span Airdrop
              p TOP-5 traders will receive 
                b Tournament points 
                span each 
                br 
                span week of competition

            .competition__profits_wr__item
              h4 
                b 
                span.profits__item-colored Membrana team's hoodie
              p TOP-5 traders will receive 
                b Membrana team's hoodie 
                span each week of competition
           
        
      .how_it_works
        .patternsed
          div.patterned
            img.js-prevent-inline.triangle_1(src="/static/img/new-page/snall_bg.svg" alt="")
            img.js-prevent-inline.triangle_4(src="/static/img/new-page/small_bg.svg" alt="")
            img.js-prevent-inline.triangle_2(src="/static/img/new-page/small_bg2.svg" alt="")
            img.js-prevent-inline.triangle_6(src="/static/img/new-page/big_bg.svg" alt="")
            img.js-prevent-inline.triangle_5(src="/static/img/new-page/small_bg2.svg" alt="")
            img.js-prevent-inline.triangle_3(src="/static/img/new-page/mid_bg2.svg" alt="")  

        h2 How does it works
        img.how_it_works__img(src="/static/img/new-page/climbing.svg" alt="")
        p Click to zoom


      .binance_acc_wr
        .binance__left
          p.binance__title
            b I've 
            span account on 
            b Binance

          p.binance__steps
            a.binance__KYC(href="#")
              b Pass KYC
            span &nbsp&nbsp&nbspvia the form.
            br 
            span We have to know our traders. To get free $100 you have to pass Know Your Customer (KYC) procedure.

          p.binance__steps 
            b Get Email 
            span with your 
            b KYC Status 
            br
            span When you successfully pass KYC, you will get free $100 to trade.

        .binance__right 
          p.binance__title
            b I dont have 
            span account on 
            b Binance 

          p.binance__steps
            a.register(href="https://www.binance.com/?ref=35111537" target="_blank") Register on 
              b Binance

          p.binance__steps
            a.binance__KYC(href="#")
              b Pass KYC
            span &nbsp&nbsp&nbspvia the form. To get free $100 you have to pass Know Your Customer (KYC) procedure.


          p.binance__steps 
            b Get Email 
            span with your 
            b KYC Status
            br
            span When you successfully pass KYC, you will get free $100 to trade.


      .KYC_wr

        .patterns
          div.pattern.bg
            img.js-prevent-inline.triangle_1(src="/static/img/new-page/snall_bg.svg" alt="")
            img.js-prevent-inline.triangle_2(src="/static/img/new-page/small_bg2.svg" alt="")
            img.js-prevent-inline.triangle_3(src="/static/img/new-page/mid_bg2.svg" alt="")            
            img.js-prevent-inline.triangle_4(src="/static/img/new-page/big_bg.svg" alt="")

        h2 Pass this form 
          span.KYC__title-colored to start  
          span KYC procedure 
          br
          span.KYC__title-colored and 
          span get free $100

        div.arrow_down_wr
          a.scroll-btn-green.scroll-btn-form(href="javascript:void(0)"): img.scroll-btn__icon(src="/static/img/new-page/scroll-arrow-green.svg" alt="")

        .join_wr  
          .competition__join_sm-form.competition__join_sm-form-bottom
            div.competition__join.icon-link
              span.icon-link__text Fill the form and click 
                b "Join"

            .competition__sm-form
              form.sm-form.js-join-form.form_one(action="/static/php/idnow.php" method="post")
                .sm-form__body
                  .label
                    span.label__title Your 
                      b Email:
                    input.input(type="email" placeholder=app.join_us.email data-error=app.competition.email_error name="email" required)
                  .label
                    span.label__title Your 
                      b Ethereum Wallet:
                    input.input(type="text" placeholder=app.competition.wallet_placeholder data-error=app.competition.wallet_error name="trnum" pattern="^0x[0-9A-Fa-f]{40}$" required)
                .sm-form__submit_policy
                  .sm-form__submit
                    button.sm-form-btn(type="submit")
                      img.sm-form-btn__icon(src="/static/img/icons/plus.svg" alt="")
                      span.sm-form-btn__text!=app.join_us.join
                  .sm-form__policy
                    span By clicking "Join" you agree with 
                      a.terms_of_use(href="/static/pdf/Membrana.io_T&C.pdf" target="_blank")
                        b Terms Of Use

    
          .competition__guide
            a.first_link(href="javascript:void(0)" data-open-modal="rules") Read more about 
              b Rules of Competition.
            a(href="/faq/") How to...?
              br
              span Open 
                b F.A.Q.

      h6.random_text We invite all traders to participate in this competition!
        br
        span Pass the KYC and follow the updates!



  .pop_up-image.non_displayed
    .close_pop_up
    img(src="/static/img/new-page/climbing.svg" alt="")
    a(href='#').close_pop_up_cross
    //- .close_pop_up.close_pop_up_2



  .join-us-wrapper
    .join-us
      .join-us__subscribe-check
        .subscribe-check
          h2.subscribe-check__title!=app.join_us.title_check
          .subscribe-check__description!=app.join_us.subscription_check
          .subscribe-check__join-telegram
            a.subscribe-check__btn(href="https://t.me/membranaplatform" target="_blank")!=app.join_us.join
              .subscribe-check__telegram 
                .subscribe-check__telegram-icon
                  img(src="/static/img/icons/socials/telegram.svg" all="")
                | Telegram

          form.subscribe-check-form.js-subscribe-form
            input.subscribe-check-form__email.input(type="email" placeholder=app.join_us.email data-error=app.join_us.email_error required)
            button.subscribe-check-form__submit.subscribe-check__btn(type="submit")!=app.join_us.subscribe


  .rules-modal(data-modal="rules" style="display:none" data-close-modal="")
    .rules-modal__inner
      .rules-modal__body(data-prevent-modal-close="")
        a.rules-modal__close(href="javascript:void(0)", data-close-modal="")
        .rules-modal__content
          .rules-modal__section
            h2.rules-modal__title 
              b Rules 
              | of 
              b Global Trader Competition 
            br
            | On weekly basis all participants will receive funds for trading. This money will be given by 
            b Membrana platform 
            | with the use of its unique algorithm of trust management. 
            br
            br
          .rules-modal__section
            h3.rules-modal__sub-title
              b Details of the Competition:
            br
            | Global Traders Competition will start 
            b 15 June 2018.
            br 
            | All traders will receive 0.012 btc each ($100). Deposit are available for trading 
            b only on Membrana platform 
            | and work through our smart-contract. Trading will be provided on Binance exchange...
            br
            | After each week - we will conclude results and give rewards for traders.
            br
            br
            | All traders will receive their earnings on 
            b Ethereum wallet 
            | and 
            b official Membrana hoodie.
            br
            | Top5 participants will receive 
            b Tournament point 
            | depending on their result position.
            br
            | Those Tournament point can be achieved every week and seen in the result list on Membrana official website.
            br
            br
            | After 12 rounds of weekly competition we will conclude the results of 1st 
            b Global Trading Competition 
            | and reward each participant.
            br
            | All Tournament points will be converted into 
            b Membrana Tokens.
            br
            | Best 20 traders in the global ranking will receive a part of $100,000 prize pool!
            br
            br
          .rules-modal__section
            h3.rules-modal__sub-title How to participate?
            br
            | To participate, you need to pass the KYC procedure, available on our official website - 
            a(href="/competition") Membrana.io/competition
            br
            br
            | Then you need to login on our platform using your Ethereum wallet. You don’t need an account on exchange or anything else!
            br
            br
            | After verifying your account we will place you in the tournament schedule. For first weekly rounds we limit the amount of participants to 100, but in case there will be no space, you can be sure, that you will have a chance to compete in future rounds. Also, need to be mentioned, that you can participate in multiple rounds of Global Trader Competition to earn as many Tournament Points as you can!
            br
            br
            | Good luck to everyone, and let the competition begin!
            br
            br
          
          a(href="javascript:void(0)" target="_blank" data-close-modal="").competition__link.icon-link
            img.icon-link__icon.js-prevent-inline(src="/static/img/icons/circled-down-arrow.svg" alt="")
            span.icon-link__text Got It & Back