extends ../layouts/base

block page_variables
  - var page_class = 'live-sale';
  - var page_active = '/live-sale/';

block append head
  block head_variables
    - var title = app.head.ieo.title;
    - var description = app.head.ieo.description;

block content
  .page-content-pattern
    .pre-sale.live-sale
      .page-content-pattern
        .pre-sale-wrapper
          .patternsed
            div.patterned
              img.js-prevent-inline.grp(src="/static/img/pictures/live-sale/bg1.svg" alt="")
              .block1
                img.js-prevent-inline.triangle_1(src="/static/img/new-page/snall_bg.svg" alt="")                
                img.js-prevent-inline.triangle_7(src="/static/img/new-page/small_bg.svg" alt="")
                img.js-prevent-inline.triangle_2(src="/static/img/new-page/snall_bg.svg" alt="")
                img.js-prevent-inline.triangle_4(src="/static/img/pictures/pre-sale/triangle.png" alt="")
                img.js-prevent-inline.triangle_3(src="/static/img/new-page/mid_bg2.svg" alt="")
              img.js-prevent-inline.triangle_2.triangle_222(src="/static/img/new-page/snall_bg.svg" alt="")
              img.js-prevent-inline.triangle_44.triangle_4(src="/static/img/pictures/pre-sale/triangle.png" alt="")
              img.js-prevent-inline.triangle_6(src="/static/img/new-page/big_bg.svg" alt="")
              img.js-prevent-inline.triangle_6.triangle_666(src="/static/img/new-page/big_bg.svg" alt="")
              img.js-prevent-inline.triangle_66(src="/static/img/new-page/big_bg.svg" alt="")
              img.js-prevent-inline.triangle_67.triangle_66(src="/static/img/new-page/big_bg.svg" alt="")
              img.js-prevent-inline.triangle_22(src="/static/img/new-page/mid_bg2.svg" alt="")
              img.js-prevent-inline.triangle_22.triangle_221(src="/static/img/new-page/mid_bg2.svg" alt="")
              img.js-prevent-inline.triangle_22.triangle_223(src="/static/img/new-page/mid_bg2.svg" alt="")
              img.js-prevent-inline.triangle_21(src="/static/img/new-page/small_bg.svg" alt="")
              img.js-prevent-inline.triangle_21.triangle_211(src="/static/img/new-page/small_bg.svg" alt="")

    .pre-sale.live-sale

      //- h1.live-sale__head tоkеn SALE 
      //-   span.live-sale__head_span LIVE
      h3.top__title2
        span.top__title2-white IEO  
        span.top__title2-col ABCC LIVE SOON

      .live-sale__wr.live-sale__top_wr
        p.live-sale__bdb
          span.live-sale-bold.bonusHead 70% 
          span.live-sale-bold Bonus 
          span.bonusEnd Starts in:

        .live-sale__wr1
          p.live-sale__low_text1 Current Price
          p.live-sale__bold_text1
            span.live-sale-bold  1 
            span.live-sale-bold 
            span MBN = 
            span.live-sale-bold 0.015  
            span USD

      .live-sale__timer.live-sale__wr
        .live-sale__time_wr.live-sale__days
          .live-sale__time_number.live-sale-bold
          .live-sale__time_desc Days
        span.live-sale__martel :
        .live-sale__time_wr.live-sale__hours
          .live-sale__time_number.live-sale-bold
          .live-sale__time_desc Hours
        span.live-sale__martel :
        .live-sale__time_wr.live-sale__minutes
          .live-sale__time_number.live-sale-bold
          .live-sale__time_desc Minutes
        span.live-sale__martel :
        .live-sale__time_wr.live-sale__seconds
          .live-sale__time_number.live-sale-bold
          .live-sale__time_desc Seconds


      .live-sale__soc
        a(href="https://t.me/membranaplatform", target="_blank").live-sale__soc_wr.live-sale__soc_wr-first
          img(src="/static/img/icons/socials/tel-round.svg", alt="").live-sale__social_img_1
          span 83,000
        a(href="https://twitter.com/membrana_io", target="_blank").live-sale__soc_wr
          img(src="/static/img/icons/socials/tw-round.svg", alt="").live-sale__social_img_1
          span 11,000
      
      a(href="https://abcc.com/en/active/ieo/mbn").top__btn.live-sale__btn
        img(src="/static/img/icons/play2.svg" alt="").top__btn_img
        //- span.live-sale__pad_r.top__btn_span Buy 
        //- span.top__btn_span.top-bold Tоkеns
        span.top__btn_span Membrana on IEO 


      .live-sale__wr.live-sale__wr_2
        .live-sale__doc
          a(href="/static/pdf/one-pager.pdf", target="_blank").live-sale__doc_link
            img(src="/static/img/pictures/live-sale/icon5.svg", alt="").live-sale__doc_img
            span One Pager
          a(href="/static/pdf/membrana_whitepaper_eng.pdf", target="_blank").live-sale__doc_link
            img(src="/static/img/pictures/live-sale/icon5.svg", alt="").live-sale__doc_img
            span Whitepaper
          a(href="/static/pdf/membrana_business_overview.pdf", target="_blank").live-sale__doc_link
            img(src="/static/img/pictures/live-sale/icon5.svg", alt="").live-sale__doc_img
            span Business Overview
          a(href="/static/pdf/membrana_tokenomics.pdf", target="_blank").live-sale__doc_link
            img(src="/static/img/pictures/live-sale/icon5.svg", alt="").live-sale__doc_img
            span Tokenomics
        .live-sale__paym
          p.live-sale__bdb.live-sale__paym_bdb We 
            span.live-sale-bold Accept:
          .live-sale__pay_wr
            img(src="/static/img/pictures/live-sale/tether.svg", alt="").live-sale__paym_img
      .top__widgets.live-sale__widgets

        a(href="https://icobench.com/ico/membrana" target="_blank" rel="nofollow" title="Membrana on ІСОbench").top__widget1.top__widget
          img(border="0" src="https://icobench.com/rated/membrana?shape=horizontal&size=s" width="174px" height="76px" alt="Membrana ІСО rating")

        a(href="https://www.trackico.io/ico/membrana/", target="_blank", title="Membrana on TrackІСО").top__widget1.top__widget
          img(border="0", src="https://www.trackico.io/widget/horizontal/membrana/300.png", width="230px", height="76px", alt="Membrana TrackІСО rating")
          
        a(href="https://www.icohotlist.com/ico/membrana-platform/", target="_blank", title="Membrana on IcoHotList").top__widget1.top__widget.top__hot
          img(border="0", src="/static/img/icons/HotListed.png", width="76px", height="76px", alt="Membrana IcoHotList rating")

        a(href="https://findico.io/ico/membrana", target="_blank", title="Membrana (MBN) on FindІСО").top__widget1.top__widget
          img(border="0", src="https://findico.io/widget/horizontal/membrana/300.png", width="auto", height="76px", alt="Membrana (MBN) FindІСО rating").top__widget-height

        a(href="https://icomarks.com/ico/membrana", rel="nofollow", target="_blank", title="Membrana ICO")
          img(src="/static/img/icons/horizontal.svg", width="auto", height="76px", alt="Membrana ICO Rating").top__widget-height

      .live-sale__wr.live-sale__press
        h2.live-sale__title.live-sale-grad In The Press

        .live-sale__pr_list.live-sale__wr
          .live-sale__pr-owl.owl-carousel
            for item in app.press.items
              a.live-sale__pr_item(href=item.link target="_blank"): img.live-sale__pr_image(src=item.image alt="")

      .graph_block.live-sale__graph(data-aos="fade-left")
        h2.live-sale__title.live-sale-grad Tоkеn distribution:
        .graph__desc_vert
          .graph__desc1.live-sale__bordered
            .bordered_block Tokens allocated for public sales:
            .desc__title 40% 
              span.small_text 1 month lockup for bonus
          .graph__desc2.live-sale__bordered
            .bordered_block.small Locked for early investors:
            .desc__title 12% 
              span.small_text  Lockup 6 months
        .js-pie-chart.pie-chart#pieChart
        .graph__desc_hor
          .desc__title Reserved for distribution to
          ul.percents_block
            li(data-number="2").percents_block__string 
              span.left__part
                span.left__part_text Membrana Operated Fund:
              span.right__part 20% 
                span.non_colored 
            li(data-number="4").percents_block__string 
              span.left__part
                span.left__part_text Membrana team:
              span.right__part 15% 
                span.non_colored Lockup 6 months
            li(data-number="3").percents_block__string 
              span.left__part
                span.left__part_text Membrana Advisors and Partners:
              span.right__part 5% 
                span.non_colored Lockup 6 months
            li(data-number="5").percents_block__string 
              span.left__part
                span.left__part_text Community Events:
              span.right__part 8%


      .live-sale__about
        h2.live-sale__title.live-sale-grad(data-aos="fade-right") What is 
          span.live-sale-bold Membrana?
        p.live-sale__about_title(data-aos="fade-right")
          span.live-sale__about-colored Membrana 
          | is a decentralized platform for trust management
        p(data-aos="fade-right").live-sale__text3 This technology is made for 
          span.live-sale-bold market participants 
          | and 
          span.live-sale-bold traders 
          | to contact directly and conclude a mutually beneficial, secure, and reliable contracts
        .live-sale__about_wr.live-sale__wr(data-aos="fade-right")
          .live-sale__about_item
            img(src="/static/img/pictures/live-sale/icon1.svg", alt="").live-sale__about_icon
            p.live-sale__about_text Membrana decentralized distributed network platform is currently in MVP stage 
              a(href="https://beta.membrana.io/", target="_blank").live-sale__about-op.live-sale-grad (Open Beta)
          .live-sale__about_item
            img(src="/static/img/pictures/live-sale/icon2.svg", alt="").live-sale__about_icon
            p.live-sale__about_text Can be used from PC or mobile phone, from any point of the world 
          .live-sale__about_item
            img(src="/static/img/pictures/live-sale/icon3.svg", alt="").live-sale__about_icon
            p.live-sale__about_text Has developed unique algorithm to address $50+ billion market opportunity
          .live-sale__about_item
            img(src="/static/img/pictures/live-sale/icon4.svg", alt="").live-sale__about_icon
            p.live-sale__about_text Currently 3000+ customers with more than US $1M dollars in management
          p.live-sale__about-op.live-sale__about-desc Expected 50,000+ customers till the end of 2020

      .live-sale__problems
        h2.live-sale__title.live-sale-grad(data-aos="fade-left")
          span.live-sale-bold Problems 
          | that we 
          span.live-sale-bold Solve
        p.live-sale__problems_desc We have developed a unique algorithm to solve the following problems:
        ul.live-sale__problems_wr(data-aos="fade-left")
          li.live-sale__problems_item
            p.live-sale__problems_title Loss of control over invested funds
            p.live-sale__problems_text To get his assets in management, participator need to send them to 3rd party or to a trader.
          li.live-sale__problems_item
            p.live-sale__problems_title Middleman issues
            p.live-sale__problems_text No reliable tool for middleman to work with his customers.
          li.live-sale__problems_item
            p.live-sale__problems_title Lack of trust
            p.live-sale__problems_text Counterparties don’t trust each other and that limits possibilities for gaining prоfіt.
          li.live-sale__problems_item
            p.live-sale__problems_title Lack of transparency
            p.live-sale__problems_text Participator can’t get any proof of traders activities. Trader can send him fake data and get the prоfіt.

      .live-sale__why
        h2.live-sale__title.live-sale-grad.live-sale__why_title(data-aos="fade-right") Why are we doing this?
        .live-sale__why_bg(data-aos="fade-right")
          p.live-sale__why_text We believe in 
            span.live-sale__why-col trustable
            | , 
            span.live-sale__why-col safe 
            | and 
            span.live-sale__why-col open cryptoworld
            | , without 
            span.live-sale__why-col any barriers
            | . This world allows business opportunities and financial freedom for everyone

      .backed.live-sale__backed
        h2.live-sale__title.live-sale-grad.live-sale__why_title(data-aos="fade-left") Venture Funds on Board
        .backed__wr(data-aos="fade-left")
          .backed__coin
            a(href="https://www.linkedin.com/company/coinbar-group/" target="blank").link
              img(src="/static/img/pictures/backed/ld.png" alt="")
            a(href="https://coinbargroup.com/ " target="blank").logo
              img(src="/static/img/pictures/backed/logo_coinbar.svg" alt="")
          .line
          .backed__coin.backed__FBC
            a(href="https://www.linkedin.com/company/firstblockv/" target="blank").link
              img(src="/static/img/pictures/backed/ld.png" alt="")
            a(href="https://firstblock.io/" target="blank").logo
              img(src="/static/img/pictures/backed/firstblock.svg" alt="")

      .live-sale__economy
         h2.live-sale__title.live-sale-grad.live-sale__economy_title(data-aos="fade-right") Tоkеn Economy
         .live-sale__economy_new_block
          p.live-sale__economy_text
            b.live-sale__economy_tit The Membrana token (MBN) 
            | is an ERC-20 compliant token to be issued on the Ethereum blockchain. The MBN token model is giving different kind of utilities, which offers interacting with the platform and directly with other users. 
          p.live-sale__economy_text Additionally, there are multiple staking features, which allows users to receive rewards, benefits and governance of community operated fund. Customers are encouraged to stack tokens or use tokens as a payment method providing organic growth of token ecosystem.
          a(href="https://membrana.io/static/pdf/membrana_tokenomics.pdf").live-sale__economy_text You can read detailed tokenomics in English with full information about stacking rewards here:
          img(src="/static/img/pictures/live-sale/tokenusage_english.png", alt="")
       

      .live-sale__adv
        h2.live-sale__title.live-sale-grad(data-aos="fade-left") Advantages of Technology
        table.live-sale__table(frame="below", data-aos="fade-left")
          tr.live-sale__str
            td.live-sale__col 
            td.live-sale__col 
              img(src="/static/img/logo.svg")
            td.live-sale__col Iconomi, Melonport, Genesis V
            td.live-sale__col Blockport, Covesting, Caspian
          tr.live-sale__str
            td.live-sale__col Technology
            td.live-sale__col Contract system
            td.live-sale__col Tоkеnized fund
            td.live-sale__col Social trading
          tr.live-sale__str
            td.live-sale__col Asset control
            td.live-sale__col.success__icon Assets are always on participator’s exchange wallets, access for trading is provided only through Membrana platform
            td.live-sale__col.success__icon Assets are send to smart-contract address of the fund, where trader possess them
            td.live-sale__col.error__icon Assets are send to smart contract, or trader has direct access via API
          tr.live-sale__str
            td.live-sale__col Risk management
            td.live-sale__col.success__icon All terms of deal are put in the smart-contract, everything executes automatically
            td.live-sale__col.error__icon No risk-management system
            td.live-sale__col.error__icon No risk-management system
          tr.live-sale__str
            td.live-sale__col Portfolio management
            td.live-sale__col.success__icon Users can trust their assets directly to trader or to portfolio managers, who pick up traders
            td.live-sale__col.error__icon User trust their assets to only one fund manager
            td.live-sale__col.error__icon User chose one trader and assets are used to copy his trading activity

      .live-sale__done
        h2.live-sale__title.live-sale-grad.live-sale__done_title(data-aos="fade-right") What has already been done?
        //- p.live-sale__done_desc(data-aos="fade-right") We have 
        //-   span.live-sale__done-bold designed 
        //-   | technology to work with 
        //-   br
        //-   span.live-sale__done-bold decentralized 
        //-   | and 
        //-   span.live-sale__done-bold centralized 
        //-   | exchanges
        p.live-sale__done_desc(data-aos="fade-right") We have designed and released the platform using most reliable and progressive technologies. 
        .live-sale__done_wr.live-sale__wr(data-aos="fade-right")
          img(src="/static/img/pictures/live-sale/grid.svg", alt="").live-sale__done_img
          .live-sale__done_right
            p.live-sale__done_text Product in   
              span.live-sale__done-bold public beta stage 
              | with 3000+ customers. More than 1,000 of them passed KYC and are actively using the technology.
            p.live-sale__done_text 
              span.live-sale__done-bold Desktop and Mobile 
              | version of the platform are already released. 
            p.live-sale__done_text Successfully passed 
              span.live-sale__done-bold security audit 
              | from Hacken.io company.
            p.live-sale__done_text 
              span.live-sale__done-bold Risk management 
              |  tools with usage of Smart-Contract technology.
            p.live-sale__done_text 
              span.live-sale__done-bold Portfolio management
              | by dividing single API key between multiple traders.
            p.live-sale__done_text 
              span.live-sale__done-bold External API
              | , which allows connection of algorithmic trading bots and custom software to the platform. 
            p.live-sale__done_text Hashlog feature to provide 
              span.live-sale__done-bold verification of traders activity
            p.live-sale__bdb.live-sale__done_bdb Platform is working with most popular exchanges 
            .live-sale__done_wr2
              img(src="/static/img/pictures/live-sale/binance.svg", alt="").live-sale__done_icon
              img(src="/static/img/pictures/live-sale/huobi.svg", alt="").live-sale__done_icon
              img(src="/static/img/pictures/live-sale/bittrex.svg", alt="").live-sale__done_icon

  .join-us-wrapper
    .join-us
      .join-us__subscribe-check
        .subscribe-check
          h2.subscribe-check__title!=app.join_us.title_check
          .subscribe-check__description!=app.join_us.subscription_check
          .subscribe-check__join-telegram
            a.subscribe-check__btn(href="https://t.me/membranaplatform" target="_blank")!=app.join_us.join
              .subscribe-check__telegram 
                .subscribe-check__telegram-icon
                  img(src="/static/img/icons/socials/telegram.svg" all="")
                | Telegram

          form.subscribe-check-form.js-subscribe-form
            input.subscribe-check-form__email.input(type="email" placeholder=app.join_us.email data-error=app.join_us.email_error required)
            button.subscribe-check-form__submit.subscribe-check__btn(type="submit")!=app.join_us.subscribe


  script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js")
