extends ../layouts/base

block page_variables
  - var page_class = 'live-sale';
  - var page_active = '/live-sale/';

block append head
  block head_variables
    - var title = app.head.competition.title;
    - var description = app.head.competition.description;

block content
  .page-content-pattern

    //- .pre-sale-wrapper
    //-   .patternsed
    //-     div.patterned
    //-       .block1
    //-         img.js-prevent-inline.triangle_1(src="/static/img/new-page/snall_bg.svg" alt="")
    //-         img.js-prevent-inline.triangle_7(src="/static/img/new-page/snall_bg.svg" alt="")
    //-         img.js-prevent-inline.triangle_2(src="/static/img/new-page/snall_bg.svg" alt="")
    //-         img.js-prevent-inline.triangle_4(src="/static/img/pictures/pre-sale/triangle.png" alt="")
    //-         img.js-prevent-inline.triangle_8(src="/static/img/new-page/small_bg.svg" alt="")
    //-         //- img.js-prevent-inline.triangle_2(src="/static/img/new-page/small_bg2.svg" alt="")
    //-         img.js-prevent-inline.triangle_3(src="/static/img/new-page/mid_bg2.svg" alt="")
    //-       .block2
    //-         img.js-prevent-inline.triangle_1(src="/static/img/new-page/snall_bg.svg" alt="")
    //-         img.js-prevent-inline.triangle_7(src="/static/img/new-page/snall_bg.svg" alt="")
    //-         img.js-prevent-inline.triangle_2(src="/static/img/new-page/snall_bg.svg" alt="")
    //-         img.js-prevent-inline.triangle_4(src="/static/img/pictures/pre-sale/triangle.png" alt="")
    //-         img.js-prevent-inline.triangle_8(src="/static/img/new-page/small_bg.svg" alt="")
    //-         //- img.js-prevent-inline.triangle_2(src="/static/img/new-page/small_bg2.svg" alt="")
    //-         img.js-prevent-inline.triangle_3(src="/static/img/new-page/mid_bg2.svg" alt="")
    //-       img.js-prevent-inline.triangle_6(src="/static/img/new-page/big_bg.svg" alt="")
    //-       img.js-prevent-inline.triangle_66(src="/static/img/new-page/big_bg.svg" alt="")
    //-       img.js-prevent-inline.triangle_22(src="/static/img/new-page/mid_bg2.svg" alt="")
    //-       img.js-prevent-inline.triangle_21(src="/static/img/new-page/small_bg.svg" alt="")

    .pre-sale.live-sale

      h1.live-sale__head TOKEN SALE 
        span.live-sale__head_span LIVE

      .live-sale__soc
        .live-sale__soc_wr.live-sale__soc_wr-first
          img(src="/static/img/icons/socials/tw-round.svg", alt="").live-sale__social_img_1
          span 95,000
        .live-sale__soc_wr
          img(src="/static/img/icons/socials/tel-round.svg", alt="").live-sale__social_img_1
          span 15,000
      
      .live-sale__wr.live-sale__top_wr
        p.live-sale__bdb
          span.live-sale-bold 70% Bonus 
          span Ends in:

        .live-sale__wr1
          p.live-sale__low_text1 Current Price
          p.live-sale__bold_text1 USD 
            span.live-sale-bold 0.3 = 1.75 
            span MBN

      .live-sale__timer.live-sale__wr
        .live-sale__time_wr.live-sale__days
          .live-sale__time_number.live-sale-bold 30
          .live-sale__time_desc Days
        span.live-sale__martel :
        .live-sale__time_wr.live-sale__hours
          .live-sale__time_number.live-sale-bold 10
          .live-sale__time_desc Hours
        span.live-sale__martel :
        .live-sale__time_wr.live-sale__minutes
          .live-sale__time_number.live-sale-bold 30
          .live-sale__time_desc Minutes
        span.live-sale__martel :
        .live-sale__time_wr.live-sale__seconds
          .live-sale__time_number.live-sale-bold 03
          .live-sale__time_desc Seconds

      a(href="").top__btn.live-sale__btn
        img(src="/static/img/icons/play2.svg" alt="").top__btn_img
        span.live-sale__pad_r.top__btn_span Buy 
        span.top__btn_span.top-bold Tokens

      p.live-sale__text2 
        span.live-sale-bold Restricted:
        span US citizens (among institutional investors) and China citizens

      .live-sale__wr.live-sale__wr_2
        .live-sale__doc
          a(href="#").live-sale__doc_link
            img(src="/static/img/icons/socials/tel-round.svg", alt="").live-sale__doc_img
            span One Pager
          a(href="#").live-sale__doc_link
            img(src="/static/img/icons/socials/tel-round.svg", alt="").live-sale__doc_img
            span Whitepaper
          a(href="#").live-sale__doc_link.live-sale__doc_link-big
            img(src="/static/img/icons/socials/tel-round.svg", alt="").live-sale__doc_img
            span Business Overview
        .live-sale__paym
          p.live-sale__bdb.live-sale__paym_bdb We 
            span.live-sale-bold Accept:
          .live-sale__pay_wr
            img(src="/static/img/pictures/live-sale/bitkoin.svg", alt="").live-sale__paym_img
            img(src="/static/img/pictures/live-sale/ethereum.svg", alt="").live-sale__paym_img
            img(src="/static/img/pictures/live-sale/litecoin.svg", alt="").live-sale__paym_img
            img(src="/static/img/pictures/live-sale/visa.svg", alt="").live-sale__paym_img
            img(src="/static/img/pictures/live-sale/mastercard.svg", alt="").live-sale__paym_img

      .top__widgets.live-sale__widgets

        a(href="https://icobench.com/ico/membrana" target="_blank" rel="nofollow" title="Membrana on ICObench").top__widget1.top__widget
          img(border="0" src="https://icobench.com/rated/membrana?shape=horizontal&size=s" width="174px" height="76px" alt="Membrana ICO rating")

        a(href="https://www.trackico.io/ico/membrana/", target="_blank", title="Membrana on TrackICO").top__widget1.top__widget
          img(border="0", src="https://www.trackico.io/widget/horizontal/membrana/300.png", width="230px", height="76px", alt="Membrana TrackICO rating")
          
        a(href="https://www.icohotlist.com/ico/membrana-platform/", target="_blank", title="Membrana on IcoHotList").top__widget1.top__widget
          img(border="0", src="/static/img/icons/HotListed.png", width="76px", height="76px", alt="Membrana IcoHotList rating")

        a(href="https://findico.io/ico/membrana", target="_blank", title="Membrana (MBN) on FindICO")
          img(border="0", src="https://findico.io/widget/horizontal/membrana/300.png", width="auto", height="76px", alt="Membrana (MBN) FindICO rating").top__widget-height

      .live-sale__wr.live-sale__press
        h2.live-sale__title.live-sale-grad In The Press

        .live-sale__pr_list.live-sale__wr
          for item in app.press.items2
            a.live-sale__pr_item(href=item.link target="_blank"): img.live-sale__pr_image(src=item.image alt="")
          a(href="#").live-sale__pr_link See all...

      .live-sale__bonuses
        h2.live-sale__title.live-sale-grad Presale Bonuses

        ul.live-sale__bon_list.live-sale__wr
          li.live-sale__bon_item
            span.live-sale__bon_text Early Adopters
            .live-sale__bon_pr_wr
              .live-sale__bon_pr
                .live-sale__bon_pr_bar
                span.live-sale__bon_perc 90%
                span.live-sale__bon_active Active
          li.live-sale__bon_item
            span.live-sale__bon_text First 24 Hours
            .live-sale__bon_pr_wr
              .live-sale__bon_pr(style="width: 70%")
                .live-sale__bon_pr_bar
                span.live-sale__bon_perc 70%
                span.live-sale__bon_active Active
          li.live-sale__bon_item
            span.live-sale__bon_text First and Second Week
            .live-sale__bon_pr_wr
              .live-sale__bon_pr(style="width: 50%")
                .live-sale__bon_pr_bar
                span.live-sale__bon_perc 50%
                span.live-sale__bon_active Active
          li.live-sale__bon_item.active
            span.live-sale__bon_text Third and Fourth
            .live-sale__bon_pr_wr
              .live-sale__bon_pr(style="width: 35%")
                .live-sale__bon_pr_bar
                span.live-sale__bon_perc 35%
                span.live-sale__bon_active Active
          li.live-sale__bon_item.past
            span.live-sale__bon_text Fifth and Sixth
            .live-sale__bon_pr_wr
              .live-sale__bon_pr(style="width: 30%")
                .live-sale__bon_pr_bar
                span.live-sale__bon_perc 30%
                span.live-sale__bon_active Active
          li.live-sale__bon_item.past
            span.live-sale__bon_text  Seventh and Eighth
            .live-sale__bon_pr_wr
              .live-sale__bon_pr(style="width: 25%")
                .live-sale__bon_pr_bar
                span.live-sale__bon_perc 25%
                span.live-sale__bon_active Active

      .graph_block.live-sale__graph
        h2.live-sale__title.live-sale-grad Token distribution:
        .graph__desc_vert
          .graph__desc1.live-sale__bordered
            .bordered_block Tokens available for Presale
            .desc__title 40% 
              span.small_text 1 month lockup for bonus
          .graph__desc2.live-sale__bordered
            .bordered_block.small Reserved for Public Sale
            .desc__title 15% 
              span.small_text Not lock up
        .js-pie-chart.pie-chart#pieChart
        .graph__desc_hor
          .desc__title Reserved for distribution to
          ul.percents_block
            li(data-number="2").percents_block__string 
              span.left__part
                span.left__part_text Private Sale Investors
              span.right__part 12% 
                span.non_colored Lock up to 6 month
            li(data-number="4").percents_block__string 
              span.left__part
                span.left__part_text Membrana team
              span.right__part 20% 
                span.non_colored Lock up to 3 month
            li(data-number="3").percents_block__string 
              span.left__part
                span.left__part_text Membrana Advisors and Partners
              span.right__part 10% 
                span.non_colored Lock up to 3 month
            li(data-number="5").percents_block__string 
              span.left__part
                span.left__part_text Private Sale Investors
              span.right__part 3%


      .live-sale__about
        h2.live-sale__title.live-sale-grad What is 
          span.live-sale-bold Membrana?
        p.live-sale__about_title 
          span.live-sale__about-colored Membrana 
          | is a decentralized platform for trust management
        p This technology is made for 
          span.live-sale-bold investors 
          | and 
          span.live-sale-bold traders 
          | to contact directly
          br
          | and conclude a mutually beneficial, secure, and reliable contracts
        .live-sale__about_wr.live-sale__wr
          .live-sale__about_item
            img(src="/static/img/pictures/live-sale/icon1.svg", alt="").live-sale__about_icon
            p.live-sale__about_text Membrana blockchain platform is currently in MVP stage 
              span.live-sale__about-op (Open Beta)
          .live-sale__about_item
            img(src="/static/img/pictures/live-sale/icon2.svg", alt="").live-sale__about_icon
            p.live-sale__about_text Can be used from PC or mobile phone, from any point of the world 
          .live-sale__about_item
            img(src="/static/img/pictures/live-sale/icon3.svg", alt="").live-sale__about_icon
            p.live-sale__about_text Has developed unique algorithm to address $50+ billion market opportunity
          .live-sale__about_item
            img(src="/static/img/pictures/live-sale/icon4.svg", alt="").live-sale__about_icon
            p.live-sale__about_text Currently 3000+ customers with more than US $1M dollars in management
          p.live-sale__about-op.live-sale__about-desc Expected 10,000+ customers till the end of 2020

      .live-sale__problems
        h2.live-sale__title.live-sale-grad 
          span.live-sale-bold Problems 
          | that we 
          span.live-sale-bold Solve
        p.live-sale__problems_desc We have developed a unique algorithm to solve the following problems:
        ul.live-sale__problems_wr
          li.live-sale__problems_item
            p.live-sale__problems_title Loss of control over invested funds
            p.live-sale__problems_text To get his assets in management, investor need to send them to 3rd party or to a trader.
          li.live-sale__problems_item
            p.live-sale__problems_title Middleman issues
            p.live-sale__problems_text No reliable tool for middleman to work with his customers.
          li.live-sale__problems_item
            p.live-sale__problems_title Lack of trust
            p.live-sale__problems_text Counterparties don’t trust each other and that limits possibilities for gaining profit.
          li.live-sale__problems_item
            p.live-sale__problems_title Lack of transparency
            p.live-sale__problems_text Investor can’t get any proof of traders activities. Trader can send him fake data and get the profit.

      .live-sale__why
        h2.live-sale__title.live-sale-grad.live-sale__why_title Why are we doing this?
        .live-sale__why_bg
          p.live-sale__why_text We believe in 
            span.live-sale__why-col trustable
            | , 
            span.live-sale__why-col safe 
            | and 
            span.live-sale__why-col open cryptoworld
            | , without 
            span.live-sale__why-col any barriers
            | . This world allows business opportunities and financial freedom for everyone

      .backed.live-sale__backed
        h2.live-sale__title.live-sale-grad.live-sale__why_title Backed
        .backed__wr
          .backed__coin
            a(href="https://www.linkedin.com/company/coinbar-group/" target="blank").link
              img(src="/static/img/pictures/backed/ld.png" alt="")
            a(href="https://coinbargroup.com/ " target="blank").logo
              img(src="/static/img/pictures/backed/logo_coinbar.svg" alt="")
          .line
          .backed__coin.backed__FBC
            a(href="https://www.linkedin.com/company/firstblockv/" target="blank").link
              img(src="/static/img/pictures/backed/ld.png" alt="")
            a(href="https://firstblock.io/" target="blank").logo
              img(src="/static/img/pictures/backed/firstblock.svg" alt="")

      .live-sale__economy
         h2.live-sale__title.live-sale-grad.live-sale__economy_title Token Economy
         .live-sale__economy_wr          
          img(src="/static/img/pictures/live-sale/token_bg.svg", alt="").live-sale__economy_image
          ul.live-sale__economy_list
            li.live-sale__economy_item.ec_item1
              p.live-sale__economy_tit Pay less commission
              p.live-sale__economy_text When concluding contracts for trust management, users can pay platform comission fee with supported cryptocurrencies or Membrana tokens. When paying with Membrana tokens you receive a discount.
            li.live-sale__economy_item.ec_item2
              p.live-sale__economy_tit Use advanced features
              p.live-sale__economy_text There are some paid features available on Membrana platform. User can receive access to those features by not only paying monthly fee, but also by holding certain amount of Membrana tokens on thieir wallet.
            li.live-sale__economy_item.ec_item3
              p.live-sale__economy_tit External API
              p.live-sale__economy_text Customer can use Membrana external API protocol for connecting their software to any exchange and using the platform custodianship. This feature can be unlocked with monthly payments which can be done with Ethereum, fiat currencies or Membrana tokens. Paying with Membrana tokens is cheaper.
            li.live-sale__economy_item.ec_item4
              p.live-sale__economy_tit ICO pools
              p.live-sale__economy_text You can join ICO pools using Membrana tokens and receive additional discounts for your investments.

      .live-sale__adv
        h2.live-sale__title.live-sale-grad Advantages of Technology
        table.live-sale__table(frame="below")
          tr.live-sale__str
            td.live-sale__col 
            td.live-sale__col 
              img(src="/static/img/logo.svg")
            td.live-sale__col Iconomi, Melonport, Genesis V
            td.live-sale__col Blockport, Covesting, Caspian
          tr.live-sale__str
            td.live-sale__col Technology
            td.live-sale__col Contract system
            td.live-sale__col Tokenized fund
            td.live-sale__col Social trading
          tr.live-sale__str
            td.live-sale__col Asset control
            td.live-sale__col Assets are always on investor’s exchange wallets, access for trading is provided only through Membrana platform
            td.live-sale__col Assets are send to smart-contract address of the fund, where trader possess them
            td.live-sale__col Assets are send to smart contract, or trader has direct access via API
          tr.live-sale__str
            td.live-sale__col Risk management
            td.live-sale__col All terms of deal are put in the smart-contract, everything executes automatically
            td.live-sale__col No risk-management system
            td.live-sale__col No risk-management system
          tr.live-sale__str
            td.live-sale__col Portfolio management
            td.live-sale__col Users can trust their assets directly to trader or to portfolio managers, who pick up traders
            td.live-sale__col User trust their assets to only one fund manager
            td.live-sale__col User chose one trader and assets are used to copy his trading activity

      .live-sale__done
        h2.live-sale__title.live-sale-grad.live-sale__done_title What has already been done?
        p.live-sale__done_desc We have 
          span.live-sale__done-bold designed 
          | technology to work with 
          br
          span.live-sale__done-bold decentralized 
          | and 
          span.live-sale__done-bold centralized 
          | exchanges
        .live-sale__done_wr.live-sale__wr
          img(src="/static/img/pictures/live-sale/grid.svg", alt="").live-sale__done_img
          .live-sale__done_right
            p.live-sale__done_text On the website, 
              span.live-sale__done-bold Investor 
              | and 
              span.live-sale__done-bold Trader 
              | can conclude a deal between each other with Smart-Contract.
            p.live-sale__done_text Smart-Contract holds all the information about the deal and allows autonomous and safe workflow for users.
            p.live-sale__bdb.live-sale__done_bdb We’re already working with:
            .live-sale__done_wr2
              img(src="/static/img/pictures/live-sale/huobi.svg", alt="").live-sale__done_icon
              img(src="/static/img/pictures/live-sale/bittrex.svg", alt="").live-sale__done_icon

      h2.live-sale__bon_title 70% Bonus
      a(href="").top__btn.live-sale__btn
        img(src="/static/img/icons/play2.svg" alt="").top__btn_img
        span.live-sale__pad_r.top__btn_span Buy 
        span.top__btn_span.top-bold Tokens
      p.live-sale__text2 
        span.live-sale-bold Restricted:
        span US citizens (among institutional investors) and China citizens


  .join-us-wrapper
    .join-us
      .join-us__subscribe-check
        .subscribe-check
          h2.subscribe-check__title!=app.join_us.title_check
          .subscribe-check__description!=app.join_us.subscription_check
          .subscribe-check__join-telegram
            a.subscribe-check__btn(href="https://t.me/membranaplatform" target="_blank")!=app.join_us.join
              .subscribe-check__telegram 
                .subscribe-check__telegram-icon
                  img(src="/static/img/icons/socials/telegram.svg" all="")
                | Telegram

          form.subscribe-check-form.js-subscribe-form
            input.subscribe-check-form__email.input(type="email" placeholder=app.join_us.email data-error=app.join_us.email_error required)
            button.subscribe-check-form__submit.subscribe-check__btn(type="submit")!=app.join_us.subscribe


  script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js")
