include ../variables

  .tech-wrapper.js-section
    .patterns
      - 
        var path = "/static/img/patterns/technology/"
        var list = [
          "net.png",
          "triangle1.png",
          "triangle2.png",
          "triangle3.png"
        ]
      each pattern in list
        img.pattern(class=(pattern.split('.')[0]) src=path+pattern alt="")
  
    .tech
      h2.tech__title.title.h-text-gradient!=app.technology.title
      .tech__items
        each item in app.technology.items
          .tech-item
            .tech-item__header
              .tech-item__icon: img(src=item.icon alt=item.title)
              h4.tech-item__title!=item.title
            .tech-item__content
              .tech-item__description!=item.description
            //- .tech-item__read-more
              a.border-btn(href=item.link)!=app.read_more